version: '3.8'
services:
  app:
    build: .
    container_name: tourist-app
    volumes:
      - ./:/var/www
    networks:
      - laravel
  web:
    image: nginx:alpine
    container_name: tourist-nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel
  db:
    image: mysql:8.0
    container_name: tourist-db
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - laravel
networks:
  laravel:
volumes:
  dbdata: